<h1>House Points</h1>
  <%= for house <- @house_points do %>
  <div>
    <h3> <%= house.name %> </h1>
    <%= house.points %>
  </div>
<% end %>

<span><%= live_patch "Activity List", to: Routes.activity_index_path(@socket, :index) %></span>
